pydantic 
python-dotenv 
langchain-openai 
langchain-groq 
langchain-core 
langchain-community
defusedxml
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_huggingface
faiss-cpu
langchain-pinecone
youtube_search
langgraph
chromadb